<?php
use ActivityStreams\Server\Config;

error_reporting(E_ALL | E_STRICT);
ini_set('display_errors', 'On');

Config::setValues(
	[
		'database.dsn' => 'mysql:dbname=activitystreams;host=127.0.0.1;charset=UTF-8',
		"database.user" => 'USERNAME',
		"database.password" => 'PASSWORD',
		'endpoint_base_url' => '/'
	]
);
